/* Add your own CSS code below */
.container {
  display: flex;
}
.countries--first {
  display: flex;
  flex-direction: row-reverse;
}
.countries--third {
  display: flex;
  flex-direction: column-reverse;
}
